/*--------Course Homepage Stylesheet--------*/



/* Type Selector */
body{
    background-color: skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

/* ID Selector */

#main-heading{
    color: antiquewhite;
    text-shadow: 1px 3px #000;
    text-align: center;
    padding: 10px;
}


/* Class Selector */

.primary {
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
}

/* --- psuedo Selectors ---*/

a:link , a:visited {
    color: antiquewhite;
}
