.formcontainer {
    width: 1000px;
    padding: 15px;
    display: inline;
    
}

.formlabel {
    display: inline-block;
    width: 10%;
    text-align: right;
    padding: 5px;
    font-weight: bold;
}

.error {
    color: red;
    padding-left: 5px;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}